<div class="col-xs-12 center-block align-center">
    <div class="padding-30">
        <h3 class="lighter blue"><%= t :create_event %></h3>
    </div>
    <div>
        <%= render :partial => "form" %>
    </div>
</div>
